/* Globales */
/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Encabezado */
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: url("../assets/PARTE 5.png");
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    padding: 34px 34px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: hsl(120, 1%, 17%);
}
  
/* Resto del código CSS... */


body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart {
    width: 90px;
    height: 60px;
    stroke: #000000;
}

.icon-cart:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 100px 0;
    justify-content: center;

}

.container-icon {
    position: relative;
}

.count-products {
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos {
    font-size: 12px;
}

.container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ffffff;
    width: 350px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart {
    display: none;
}

/* Main */
.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    font-size: 18px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty {
    padding: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

/* Piesito de página */

.pie-pagina1{    
    width: 100%;
    background-color: #009F53;
}
.pie-pagina1 .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina1 .grupo-1 .box1 figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina1 .grupo-1 .box1 figure img{
    width: 250px;
}
.pie-pagina1 .grupo-1 .box1 h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina1 .grupo-1 .box1 p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina1 .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina1 .grupo-1 .red-social a:hover{
    color: rgb(27, 214, 214);
}
.pie-pagina1 .grupo-2{
    background-color: #571f1f;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}
.pie-pagina1 .grupo-2 small{
    font-size: 15px;
 
}
.pie-pagina1 .grupo-2{
    background-color: #009F53;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
}

.container-icon {
    margin-right: 20px;
}
